body {
  font-family: Helvetica, sans-serif;
  text-align: center;
}

h1{
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2{
  font-size: 32px;
  font-weight: bold;
}

h3{
  font-size: 23px;
  font-weight: bold;
}

p{
  font-size: 14px;
}

.link{
  font-size: 18px;
  color: white;
}

.banner{
    background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  }

.stripe{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  color: white;
}
.menuStripe, .menuStripe p{
  text-align: left;
  background-color: dimgray;
  color: white;
  font-size: 11px;
}*/

/*.menuStripe p{
  font-size: 11px;
}

/*.menuStripe a{
  text-align: left;
  color: white;
  background-color: dimgray;
}*/
